body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}
.wrap-container {
  width: 100%;
  height: 100vh;
}
.login-container {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
}

.login-form {
  width: 100%;
  max-width: 400px;
  background: #ffffff;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555555;
}

.form-group input {
  width: 95%;
  border: 1px solid #dddddd;
  border-radius: 5px;
  font-size: 16px;
  background-color: #dddddd;
}

.form-group input:focus {
  outline: none;
  border-color: #4476ff;
  box-shadow: 0 0 5px rgba(68, 118, 255, 0.5);
}

.login-button {
  width: 100%;
  background-color: #4476ff;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #335bcc;
}

.signup-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #555555;
}

.signup-link a {
  color: #4476ff;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

.third-pary-auth {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #333333;
  align-items: center;
}
.third-pary-auth > span {
  margin-top: 10px;
  margin-bottom: 10px;
}
.auth-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.auth-btn {
  padding: 5px 40px;
  background-color: #cccaca;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
